@import "bootstrap-sprockets";
@import "bootstrap";

.nav_left {
  width: 100%;
  height: 100%; 
}

.clearfix {
  width: 100%;
  height: 1px;
  float:none;
  clear:both;
  position: relative;
  margin:-1px 0 0 0;
}
.login-top {
  padding-top: 15px;
}
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #F5F6CE;
}
.draft {
  color: #aaa;
}