
<% @products.each do |product| %>
<div class="product">
  <%= link_to product_path(product) do %>
    <%= image_tag(product.image_url, :width => 50) %><br />
  <% end %>

  <%= product.name %><br />
  $<%= product.price %>
</div>

<% end %>