<h1><%= @product.name %></h1>


<h3>$<%= @product.price %></h3>

<p style="width: 60%;">
<%= @product.description %>
</p>

<% if @product.image.exists? %> 
   <%= image_tag @product.image(:medium) %>
<%end %>
